<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogToConsole="true">
	<targets>
		<!-- 输出消息统一格式, 可以日志分析 -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring} Line Number: ${callsite-linenumber}" />
		<target name="logfile" xsi:type="File" fileName="Logs/${level}/${date:format=yyyy-MM-dd}.log" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring} Line Number: ${callsite-linenumber}" />
		<target name="debug" xsi:type="Debugger" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring} Line Number: ${callsite-linenumber}" />
	</targets>

	<rules>
		<!--Trace|Debug|Info|Warn|Error-->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="logconsole, debug" />
	</rules>
</nlog>